a{
  color: white;
  &:focus, &:hover{
    color: white;
  }
}

html, body{height: 100%}
body{
  background: url("../images/bg-cover.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 18px !important;
}

.rotary{
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: rgba(0,0,0, 0.7);
}

.site-en-construction{
  display: table-cell;
  vertical-align: top;
}

.cover-container{
  margin-right: auto;
  margin-left: auto;
}

.inner{
  padding: 30px;
}

.rotary-headerbrand{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white !important;
  float: left;
}

.rotary-head{
  margin-bottom: 200px;
}

.cover{
  padding: 0 20px;

  .club{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
  }

  .mention{
    font-size: 2.1rem;
  }
}

ul.rotary-social{
  display: inline-block;

  & li{
    list-style-type: none;
    display: inline-block;
    margin: 50px 7px;

    a:hover{
      text-decoration: none;
      color: var(--couleur-or);
    }
  }
}
