.membre-photo {
  position:relative;
  background: #000;
  overflow: hidden;
  border-radius: 10px;
  transition: .5s;
  height:350px;

}

.membre-photo:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);

}
.membre-photo .card-img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.membre-photo:hover .card-img-box {
  opacity: 0.5;
}

.membre-photo .card-img-box img {
  height: 100%;
}

.membre-photo .card-content {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
  padding-top: 30px;
}

.membre-photo:hover .card-content {
  bottom:0
}

.membre-photo:nth-child(1n+0) {
  background: linear-gradient(0deg, #17468f, transparent)
}

.membre-photo .card-content h3 {
  margin: 0 0 10px;
  padding:0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.membre-photo .card-content h3 span {
  color: #ffeb3b;
  font-size: 16px;
}

.membre-photo .card-content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
}

.membre-photo .card-content ul {
  display: flex;
  margin: 10px 0 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.membre-photo .card-content ul  li {
  list-style: none;

}

.membre-photo .card-content ul li a {
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
  transition: 0.5s;
}